{
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react"],
  "env": {
    "es2020": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": ["return", "block-like", "if"] },
      { "blankLine": "always", "prev": ["block-like", "if"], "next": "*" }
    ],
    "no-empty": ["warn", { "allowEmptyCatch": true }],
    "lines-between-class-members": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
